<%= simple_form_for(@company) do |f| %>
  <div class="row-fluid">
    <div class="span6"><%= f.input :name, input_html: { class: 'span12', set_focus: true } %></div>
  </div>
  <div class="row-fluid"> 
    <div class="span6"><%= f.input :email, input_html: { class: 'span12'}%></div>
  </div>
  <div class="row-fluid"> 
    <div class="span3"><%= f.input :quant_dias_aviso_avaliacao, input_html: { class: 'span3'}%></div>
  </div>
	<div class="row-fluid">
	  <div class="span4"><%= f.input :street, input_html: { class: 'span12' } %></div>
	  <div class="span3"><%= f.input :house_number, input_html: { class: 'span3' } %></div>
		<div class="span3"><%= f.input :neighborhood, input_html: { class: 'span12' } %></div>
	</div>
	<div class="row-fluid">
	 <div class="span3"><%= f.input :zip_code, input_html: { class: 'span12 zipcode' } %></div>
	 <div class="span3"><%= f.input :city, input_html: { class: 'span12' } %></div>
	 <div class="span2"><%= f.input :federal_unit, collection: State , input_html: {class: 'span12'} %></div>
	</div>
	</div>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success" %>
    <%= link_to 'Voltar', evaluators_path, :class => "btn"  %>
  </div>
<%end%>