<table>
  <tr>
    <td witdth='10'>
      <%= image_tag '/images/logo.png', :width => 50 %>
    </td>
    <td>
        <h5><%= current_company.name %></h5>
        <%= current_company.street %>, <%= current_company.house_number %> <%= current_company.neighborhood %><br/>
        <%= current_company.zip_code%> - <%= current_company.city %><br/>
    </td>
  </tr>
</table>
<hr>